*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#grid-flex{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    height: 1500px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

img{
    width: 100%;
}



.grid-item{
    width: 50%;

  
}